
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-background: #1F2937;
  --hero-text-color: #F9FAF8;
  --secondary-text-color: #E5E7EB;
  --button-and-cta-bg-color: #3882F6;
  --information-header-text: #1F2937;
  --quote-section-background: #E5E7EB;
  --quote-text-color: #1F2937;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  
}

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-background);
  padding: 20px 200px 120px 200px;
  gap: 100px;
}

.logo-and-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 100px;
  object-fit: contain;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  color: var(--secondary-text-color);
}

.page-introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.page-info {
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.page-info h1{
  color: var(--hero-text-color);
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.page-info p{
  color: var(--secondary-text-color);
  font-size: 18px;
  margin: 0;
}

.page-info button{
  background-color: var(--button-and-cta-bg-color);
  border: none;
  color: var(--secondary-text-color);
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 8px;
  align-self: flex-start;
}

.page-introduction img{
  width: 50%;
}