
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-background: #1F2937;
  --hero-text-color: #F9FAF8;
  --secondary-text-color: #E5E7EB;
  --button-and-cta-bg-color: #3882F6;
  --information-header-text: #1F2937;
  --quote-section-background: #E5E7EB;
  --quote-text-color: #1F2937;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: var(--hero-text-size-weight);
}